/* Overall container styling */
.items-container {
  background-color: #13b1d8; /* Light gray background */
  padding: 20px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Title styling */
.title {
  text-align: center;
  color: #2e3797;
}

/* Subtitle styling */
.sub-title {
  text-align: center;
  color: hsl(110, 83%, 49%);
  margin-bottom: 20px;
}

/* Description styling */
.description {
  background-color: #b218cd; /* White background for the theory text */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(191, 235, 88, 0.1);
  margin: 0 auto; /* Centers it */
  width: 60%; /* Reduce width */
  margin-bottom: 20px;
  text-align: center;
}

/* Preformatted text styling (the theory) */
.description pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.navigate-button {
  position: absolute;
  bottom: 10px; /* Adjust the position from the bottom */
  left: 10%;
  transform: translateX(-50%); /* Center the button horizontally */
  background-color: #007bff;
  color: rgb(140, 11, 11);
  padding: 20px 40px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  z-index: 2; /* Ensure button is on top of other elements */
}

.navigate-button:hover {
  background-color: #0056b3;
  transform: translateX(-50%) scale(1.1); /* Slightly scale the button on hover */
}


/* Items list styling */
.items-list-container {
  margin-bottom: 20px;
}
.items-list li {
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  padding: 8px 0;
  transition: color 0.3s ease;
  color:rgb(106, 33, 137);
}

.items-list li:hover {
  color: #80ff00; /* Changes text color on hover */
  transform: scale(1.05); /* Slight zoom effect */
}


/* Button styling */
.button-container {
  text-align: center;
}

.navigate-button {
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #73f550be;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navigate-button:hover {
  background-color: hsl(50, 72%, 42%);
}
